NEXT_PUBLIC_BILLING_API_URL=http://localhost:3736
NEXT_PUBLIC_ETEBASE_SERVER_URL=http://localhost:3735
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TAx8aPZr2w1sOdtvpdnjDy7I4P6zKxthjFpbdjwyxQA5HJaOCyIKA6Zg4nGG0ffjqnvtD9MdBut281pIqcyaBtt00WOqXFXWL
# Set to "true" for self-hosted deployments (disables billing UI)
# NEXT_PUBLIC_SELF_HOSTED=true

# Sentry error tracking (leave empty to disable)
NEXT_PUBLIC_SENTRY_DSN=
